/* Add application styles & imports to this file! */
.title,
.info-game {
  width: 100%;
  background: white;
  color: #110f26;
  padding: 20px;
  text-align: center;
}

.info-game {
  background-color: transparent;
  font-size: 24px;
}

.opciones {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100px;
}

.opcion img:hover {
  cursor: pointer;
  background-color: #86849d;
}

.opcion img:active {
  background-color: #626078;
}

.opcion img {
  width: 100px !important;
  height: 100px;
  background-color: white;
  padding: 15px;
  border: 4px solid #333333;
  border-radius: 20px;
  margin-right: 10px;
}

.score-board {
  width: 200px;
  border: 2px solid white;
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  font-size: 40px;
  position: relative;
  transition: 0.3s ease-in;
}

.score-board:hover {
  background-color: #323042;
}

.badge {
  background-color: #3aa330;
  padding: 2px 20px;
  font-size: 20px;
}

.result {
  font-size: 40px;
  text-align: center;
  color: white;
}

#user-label {
  position: absolute;
  top: 28px;
  left: -104px;
}

#comp-label {
  position: absolute;
  top: 28px;
  right: -150px;
}
